.lmj-categories {
    text-align: center;
    padding-top: 30px;
}

.lmj-categories-select {
    margin-right: 15px;
}

.lmj-categories-ul-selected {
    list-style: none;
}

.lmj-categories-selected {
    background-color: #31b572;
    width: fit-content;
    text-align: center;
    flex-direction: row;
    padding: 1px 10px 5px 10px;
    margin: 0px 2px 0px 2px;
    display: inline;
    border-radius: 15px;
    vertical-align: middle;
    color: white;
}